{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h3>Cadastrar Novo Carro</h3>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="table-responsive">
                    <table class="table table-borderless">
                        {{ form.as_table }}
                    </table>
                </div>
                
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg rounded-pill px-4 shadow">
                        Cadastrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
